<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Character Options</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="handleExport()" detail="false">
      <ion-icon name="download-outline" slot="start"></ion-icon>
      <ion-label>Export Character</ion-label>
    </ion-item>
    <ion-item button (click)="handleImport()" detail="false">
      <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
      <ion-label>Import Character</ion-label>
    </ion-item>
    <ion-item button (click)="handleViewAll()" detail="false" *ngIf="isGM">
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-label>View All Characters</ion-label>
    </ion-item>
  </ion-list>
</ion-content>